site_name: SynBioHub2 Docs
hooks:
  - hooks.py
theme:
  features:
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.indexes
  name: material
  logo: images/brand.svg
  favicon: images/favicon.ico
  palette:
    - scheme: default
      primary: orange
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - scheme: slate
      primary: deep orange
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
plugins:
  - search
  - awesome-nav
  - mkdocs-nav-weight
  - title-casing:
        capitalization_type: first_letter
        default_page_name: Index
markdown_extensions:
  - admonition
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
